@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

.container {
    display: flex;
    justify-content: center;
}

.formulario {
    background-color: greenyellow;
    font-family: 'Signika Negative', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black solid 2px;
    border-radius: 15px;
    padding: 10px;
    width: 550px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.75);

}
